{% extends 'todo/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <input id="new-todo" placeholder="What needs to be done?" autofocus>
    </header>
    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section>
    <footer id="footer"></footer>
  </section>
  <div id="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </div>
{% endblock %}

{% block js %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
  <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
  <!-- <script src="{{STATIC_URL}}js/lib/backbone.localStorage-min.js"></script> -->
  <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
  <script src="{{STATIC_URL}}js/models/todo.js"></script>
  <script src="{{STATIC_URL}}js/collections/todos.js"></script>
  <script src="{{STATIC_URL}}js/views/todos.js"></script>
  <script src="{{STATIC_URL}}js/views/app.js"></script>
  <script src="{{STATIC_URL}}js/routers/router.js"></script>
  <script src="{{STATIC_URL}}js/app.js"></script>
{% endblock %}
